body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

main {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  background-image: url(../img/bg-pattern.jpg);
}

main > section {
  font-size: 30px;
  scroll-snap-align: start;
  height: 100vh;

  display: flex;
  flex-direction: column;
}

main > section > div {
  flex: 1;
  margin: 5px 0 5px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: rgba(0, 0, 0, 0.3); */
}

.MainpageInfoBox {
  font-family: DejaVu Sans Mono, monospace;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #808080;
  margin-left: 10vh;
  height: 70%;
  width: 30%;
}
.logitipasMainPage {
  align-items: center;
}
